<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chunsoft.sport"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.chunsoft.net.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
         <activity
            android:name="com.chunsoft.match.Main_FA"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.chunsoft.match.MatchImmediateShowActivity"></activity>
        <activity android:name="com.chunsoft.my.Login_A"/>
        <activity android:name="com.chunsoft.my.Set_A"/>
        <activity android:name="com.chunsoft.match.Analysis_A"></activity>
        <activity android:name="com.chunsoft.match.Match_Statistics_A"></activity>
        <service
            android:name="com.chunsoft.service.MatchRecommentNotifyService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.chunsoft.service.FavoriteNotifyService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
